
.vs/Haptic/v17/.suo
bin/Debug/Haptic.exe.config
bin/Debug/Haptic.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Haptic.csproj.AssemblyReference.cache
obj/Debug/Haptic.csproj.CoreCompileInputs.cache
obj/Debug/Haptic.csproj.FileListAbsolute.txt
obj/Debug/Haptic.csproj.SuggestedBindingRedirects.cache
obj/Debug/Haptic.exe
obj/Debug/Haptic.pdb
